/*
Import CSS files
*/
@import "colors.css";
@import "header.css";
@import "navigation.css";
@import "sidebar.css";
@import "scrolltotop.css";

/*
Main Content
==========================================================
*/
#main{
    position: relative;
    padding-top:56px;
    min-height: 496px;
    width: auto;
}
#main .row{
    margin-left:0;
    margin-right:0;
}
#main-header{
    background:#f6f6f6;
}
#main-header h1{
    margin:0;
    padding:16px;
    color: #555555;
    font-weight: normal;
    text-shadow: 0 1px 0 #ffffff;
}

/*
Breadcrumb
==========================================================
*/
.breadcrumb {
    box-shadow: 0 0 1px #ffffff;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 16px;
    margin-bottom: 20px;
    border-radius:0;
}
.breadcrumb li span{
    margin-right:8px;
}

/*
Table
==========================================================
*/
.table>thead>tr>th:last-of-type, .table>tbody>tr>td:last-of-type{
    text-align:right;
}
.table>tbody>tr>td a>i{
    font-size:1.6em;
    margin-left:12px;
}
.table>tbody>tr>td a>i:first-of-type{
    margin-left:0;
}

/*
Posts List
==========================================================
*/
#posts-list table>tbody>tr>td:nth-of-type(2){
    max-width:560px;
}

/*
Dashboard List
==========================================================
*/
.viz-amount{
    position:relative;
    display:block;
    font-size:24px;
}
.viz-amount i{
    position:absolute;
    right:6px;
    top:6px;
    opacity:0.24;
    color:#333;
}
.viz-amount small{
    color:#999;
}