<div id="header" role="header">
    <div class="container-fluid">
        <div class="sidebar-toggle pull-left">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div id="logo" class="clearfix">
            <h1><a href="#">Mediatheken CMS</a></h1>
            <h2 class="hidden">Een CMS voor Mediatheken uit de Arteveldehogeschoolss</h2>
        </div>
        <div class="pull-right courtesy">
            <nav id="courtesy-navigation" class="clearfix">
                <ul class="clearfix">
                    <li>
                        <a href="" title="">
                            <i class="fa fa-newspaper-o"></i>
                            <span class="badge yellow">23</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            <i class="fa fa-bell"></i>
                            <span class="badge blue">16</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            <i class="fa fa-envelope"></i>
                            <span class="badge orange">8</span>
                        </a>
                    </li>
                    <li class="profile dropdown">
                        <a id="profileLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="http://lorempixel.com/32/32/people/9/" alt="DrDynscript's Avatar" />
                            <span class="avatar-name">DrDynscript</span>
                            <i class="arrow fa fa-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="profileLabel">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
