@model IEnumerable<FAQ>
@{
    ViewData["Title"] = "FAQ";
}
<h2>FAQ</h2>
@if (Model != null && Model.Count() > 0)
{
    <ul>
    @foreach (var faq in Model)
    {
        <li class="faq">
            <h3>@faq.Question</h3>
            @Html.Raw(@faq.Answer)
        </li>
    }
    </ul>
}
else
{
    <div>Geen FAQ's</div>
}