@{
    ViewData["Title"] = "Home Page";
}

<div class="dds-container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--12-desktop">
        @await Component.InvokeAsync("PostsAsList", 0)
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-desktop">
        SIDEBAR
    </div>
  </div>
</div>