<div class="android-drawer mdl-layout__drawer">
	<span class="mdl-layout-title">
		<img class="android-logo-image" src="images/android-logo-white.png">
	</span>
	<nav class="mdl-navigation">
		<a class="mdl-navigation__link" asp-controller="Home" asp-action="Index">Home</a>
		<a class="mdl-navigation__link" asp-controller="Library" asp-action="Index">Mediatheken</a>
		<a class="mdl-navigation__link" asp-controller="Catalog" asp-action="Index">Catalogus</a>
		<a class="mdl-navigation__link" asp-controller="Post" asp-action="Index">Nieuws</a>
		<a class="mdl-navigation__link" asp-controller="FAQ" asp-action="Index">FAQs</a>
	</nav>
</div>